// COLORS 

$color-blue: #368cbf;
$color-blue-dark: #2B6498;
$color-green: #7ebc59;
$color-green-dark: #70A950;
$color-slate: #33363b;
$color-light-grey: #eaeaea;
$color-old-light-blue: #335fff;
$color-orange: #f6653c;
$color-orange-dark: #dd5b36;
$color-yellow: #ffe164;
// $color-blue: #881EE4; //Halloween purple 


$color-white: #fff;
$color-black: #000;

$color-halloween: rgb(18, 4,55);
$color-halloween-white: #e8e4c9;
$color-halloween-orange: #F75F1C;
$color-halloween-green:  #FF9A00;
$color-halloween-background: #594f73;

// FONT
$default-font-size: 1.6rem;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 30em;
