// COLORS 

$color-blue: #368cbf;
$color-blue-dark: #2B6498;
$color-green: #7ebc59;
$color-green-dark: #70A950;
$color-slate: #33363b;
$color-light-grey: #eaeaea;
$color-old-light-blue: #335fff;
$color-orange: #f6653c;
$color-orange-dark: #dd5b36;
$color-yellow: #ffe164;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 30em;
