.nav-bar {
  background: rgba(255,255,255,0.2);
  color: $color-halloween-white;
  display: grid;
  height: 7rem;
  grid-template-columns: 5vw 8vw 15vw 45vw 18vw 5vw;
  z-index: 5;

  &__logo{
    grid-column: 2/3;
    align-self: center;
    justify-self: start;
  }

  &__title{
    grid-column: 3/4;
  }

  &__main{
    grid-column: 4/5;
  }

  &__link{
    @media only screen and (max-width: $bp-medium) {
      grid-column: 4/5;
      color: $color-halloween-white;
  
    }

  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 5vw 18vw 1fr 18vw 5vw;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    margin-right: auto;
    align-self: center;
    font-size: 1.6rem;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
    
    &:hover {
      color: $color-halloween-orange;
    }

    &-page {
      display:flex;
      justify-content: space-between;
      align-items: center;

      margin: auto;
      height: 7rem;
      font-size: 3rem;
      font-weight: bold;
      color: $color-halloween-white;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.6rem;
      }
    }
  }

  &__logo {

    &-img {
      height: 4rem;
      width: 4rem;
      margin-left: 2rem;
      justify-self: center;
      fill: $color-halloween-white;
      &:hover {
        fill: $color-halloween-orange;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
  }

  &__link {
    font-size: 1.4rem;
    align-self: center;
    color: $color-halloween-orange;
    font-family: Montserrat, sans-serif;
    text-decoration: none;

    &:hover {
      color: $color-halloween;
    }

    &.link2,
    &.link3 {
      @media only screen and (max-width: $bp-small) {
        display: none;
      }
    }
  }
}


