.ads {
    background-color: green;
    width: 90%;
    margin: auto;
    height: 60%;
    opacity: 0;

&-top {
    margin-top: 2vw;
    grid-row: 1/2;
}
// &-bottom {
//     margin-bottom: 2vw;
//     grid-column: 1/2;
//     grid-row: 4/5;
// }

}

